doctype html
html(lang='ja')
  head    
    meta(charset='UTF-8')
    mata(name='viewport' content='width=divice-width,initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap' rel='stylesheet')
    title='時計とカレンダー'
  body
    block content
